body {
    display: grid;
    grid-template-columns: 1fr 1000px 1fr;
    grid-template-rows: 50px 600px 1fr;
}

.container {
    grid-column: 2;
    grid-row: 2;
}

@media (max-width: 1100px) {
    body {
        grid-template-columns: 1fr 800px 1fr;
    }
}

@media (max-width: 900px) {
    body {
        grid-template-columns: 1fr 600px 1fr;
    }
}
@media (max-width: 650px) {
    body {
        grid-template-columns: 1fr 400px 1fr;
    }
}
@media (max-width: 450px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100vh;
    }
    .container {
        grid-column: 1;
        grid-row: 1;
    }
}
