.btn {
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 15px 0 15px 20px;
    margin-bottom: 30px;
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
}

.btn::after {
    padding: 13.5px 20px;
    font-size: 20px;
    line-height: 20px;
    content: '>';
    margin-left: 20px;
    text-align: center;
    background-color: #000;
}
.btn:hover {
    background-color: var(--primary-color-light);
    transition: all 0.3s;
    transform: scale(0.95);
    border-radius: 5px;
}
