/* base */
@import '../base/layout.css';
@import '../base/reset.css';

/* 3-rd party */
@import '../components/font-awesome.min.css';

/* components */
@import '../components/button.css';

body {
    background-color: var(--primary-color);
}
.container {
    background-image: url(../../img/shoes.jpg);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}
.header > img {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
.header > .links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .nav > a {
    font-size: 17px;
    text-decoration: none;
    color: #ccc;
    margin-right: 35px;
}
.header .nav > a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}
.header .icons {
    margin-left: 40px;
}
.header .icons > i {
    font-size: 20px;
    color: #ccc;
    margin-right: 20px;
}
.header .icons > i:hover {
    color: var(--primary-color);
    transform: scale(1.5);
    transition: all 0.3s;
}
.header .fa-bars {
    display: none;
}

@media (max-width: 900px) {
    .header .links {
        display: none;
    }
    .header .fa-bars {
        display: flex;
    }
}
